.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

span {
  margin-right: 10px;
  cursor: pointer;
}

span:last-child {
  margin-right: 0;
}

span:first-child {
  margin-left: 10px;
}

