.description_block {
  padding: 10px;
}

.mainPhoto {
  max-width: 150px;
  width: 100%;
  border-radius: 50%;
}

.contact {
  padding-left: 10px;
}

.profileInfo {
  margin-bottom: 10px;
}

.profileInfo:last-child {
  margin-bottom: 0;
}

.profileJob {
  margin-bottom: 10px;
}

.profileJob:last-child {
  margin-bottom: 0;
}