.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_items {
  padding: 10px;
}


.messages {
  padding: 10px;
}

.message__error {
  color: red;
}

.btn {
  background-color: aqua;
}